<!-- <h1>{{'Hello' | translate}}</h1>

<select (change)="checkLanguageChange($event)">
  <option value="kz">kazakh</option>
  <option value="ru">russian</option>
</select> -->

<!-- <app-input-password [name]="'Пароль'"></app-input-password> -->
<!-- <app-input [name]="'имя'"></app-input> -->
<!-- <app-input-with-mask prefix="+7 " mask="(000) 000-00-00"></app-input-with-mask> -->
<!-- <app-select></app-select> -->


<!-- <button class="iconic-button primary-button" disabled>primary-button</button>
<button class="iconic-button secondary-button">secodary-button</button>
<button class="iconic-button additional-button">additional-button</button> -->
<app-student-side-bar></app-student-side-bar>
